
# Custom ignores
training_logs/
paper_figures/

DATASETS/
output/
Python-3.8.10/
figures/
final_figures/
ivon_actual/
ivon_actual_cifarwhole/
ivon_sharp/
ivon_sharp_correct/
ivon_sharp_correct-2/
ivon_sharp_correct-3diff/
ivon_sharp_correct-alphas/
ivon_student/
regression_results/
Python-3.8.10.tgz
arxiv_figures/
training_logs/
plot_scripts/
quad_converge_old.py/
iclr_arxiv/
## other files

bash_plt.sh
basic_plt.py
holder_table.py
ivon.sh
logistic_regression_highdim.py
logistic_regression.py
plt_ivon_mse.py
plt_ivon.py
plt_second.py
quad_stable.sh
range_ivon_stability.py
quadratic.py
t_student.py
welford.py


RESULTS/
__pycache__

